Part B

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

B. Normalize the data 

Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

How does the mean of the mean squared errors compare to that from Step A?

In [4]:
import pandas as pd
import numpy as np

In [5]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

In [12]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [13]:
from keras.models import Sequential
from keras.layers import Dense

In [14]:
n_cols = predictors.shape[1] # number of predictors

In [15]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [16]:
# build the model
model = regression_model()

In [17]:
 from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm,target, test_size=0.3, random_state=42)

In [20]:
model.fit(X_train, y_train, epochs=50, verbose=1)

Epoch 1/50
721/721 [==============================] - 1s 801us/step - loss: 1550.3902
Epoch 2/50
721/721 [==============================] - 0s 327us/step - loss: 1534.5829
Epoch 3/50
721/721 [==============================] - 0s 363us/step - loss: 1518.0744
Epoch 4/50
721/721 [==============================] - 0s 334us/step - loss: 1500.9958
Epoch 5/50
721/721 [==============================] - 0s 331us/step - loss: 1483.0418
Epoch 6/50
721/721 [==============================] - 0s 334us/step - loss: 1464.1393
Epoch 7/50
721/721 [==============================] - 0s 334us/step - loss: 1443.9071
Epoch 8/50
721/721 [==============================] - 0s 355us/step - loss: 1422.9647
Epoch 9/50
721/721 [==============================] - 0s 304us/step - loss: 1400.7497
Epoch 10/50
721/721 [==============================] - 0s 329us/step - loss: 1377.5862
Epoch 11/50
721/721 [==============================] - 0s 310us/step - loss: 1353.5406
Epoch 12/50
721/721 [==============================] - 0s 359us/step - loss: 1328.0062
Epoch 13/50
721/721 [==============================] - 0s 357us/step - loss: 1301.8270
Epoch 14/50
721/721 [==============================] - 0s 331us/step - loss: 1274.1790
Epoch 15/50
721/721 [==============================] - 0s 306us/step - loss: 1245.5003
Epoch 16/50
721/721 [==============================] - 0s 328us/step - loss: 1215.9901
Epoch 17/50
721/721 [==============================] - 0s 383us/step - loss: 1185.3298
Epoch 18/50
721/721 [==============================] - 0s 360us/step - loss: 1154.3939
Epoch 19/50
721/721 [==============================] - 0s 358us/step - loss: 1122.6825
Epoch 20/50
721/721 [==============================] - 0s 304us/step - loss: 1089.9879
Epoch 21/50
721/721 [==============================] - 0s 278us/step - loss: 1056.9405
Epoch 22/50
721/721 [==============================] - 0s 307us/step - loss: 1023.7870
Epoch 23/50
721/721 [==============================] - 0s 334us/step - loss: 990.3526
Epoch 24/50
721/721 [==============================] - 0s 386us/step - loss: 956.4480
Epoch 25/50
721/721 [==============================] - 0s 331us/step - loss: 922.7027
Epoch 26/50
721/721 [==============================] - 0s 423us/step - loss: 889.0863
Epoch 27/50
721/721 [==============================] - 0s 445us/step - loss: 854.9607
Epoch 28/50
721/721 [==============================] - 0s 332us/step - loss: 822.1089
Epoch 29/50
721/721 [==============================] - 0s 358us/step - loss: 788.7169
Epoch 30/50
721/721 [==============================] - 0s 318us/step - loss: 756.7871
Epoch 31/50
721/721 [==============================] - 0s 294us/step - loss: 724.3334
Epoch 32/50
721/721 [==============================] - ETA: 0s - loss: 694.729 - 0s 271us/step - loss: 693.2300
Epoch 33/50
721/721 [==============================] - 0s 293us/step - loss: 662.6662
Epoch 34/50
721/721 [==============================] - 0s 329us/step - loss: 633.3583
Epoch 35/50
721/721 [==============================] - 0s 304us/step - loss: 604.3157
Epoch 36/50
721/721 [==============================] - 0s 304us/step - loss: 577.0118
Epoch 37/50
721/721 [==============================] - 0s 327us/step - loss: 550.0537
Epoch 38/50
721/721 [==============================] - 0s 306us/step - loss: 524.6428
Epoch 39/50
721/721 [==============================] - 0s 310us/step - loss: 500.4957
Epoch 40/50
721/721 [==============================] - 0s 327us/step - loss: 476.9376
Epoch 41/50
721/721 [==============================] - 0s 305us/step - loss: 455.0198
Epoch 42/50
721/721 [==============================] - 0s 282us/step - loss: 434.1533
Epoch 43/50
721/721 [==============================] - 0s 333us/step - loss: 414.5298
Epoch 44/50
721/721 [==============================] - 0s 508us/step - loss: 395.8710
Epoch 45/50
721/721 [==============================] - 0s 281us/step - loss: 378.2800
Epoch 46/50
721/721 [==============================] - 0s 335us/step - loss: 362.3020
Epoch 47/50
721/721 [==============================] - 0s 286us/step - loss: 347.1214
Epoch 48/50
721/721 [==============================] - 0s 278us/step - loss: 333.0246
Epoch 49/50
721/721 [==============================] - 0s 280us/step - loss: 319.8142
Epoch 50/50
721/721 [==============================] - 0s 330us/step - loss: 307.9177

In [21]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 264us/step

312.7303835674397

In [22]:
from sklearn.metrics import mean_squared_error

In [23]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

312.73037923643005 0.0

In [24]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 19220.514085886934
MSE 2: 11458.333399701658
MSE 3: 6688.087114747674
MSE 4: 2780.875839875354
MSE 5: 797.2036691807621
MSE 6: 287.844610714218
MSE 7: 209.08601883082713
MSE 8: 160.86808036137552
MSE 9: 142.00661910467548
MSE 10: 116.24539357404493
MSE 11: 103.94043309480242
MSE 12: 102.06079553400428
MSE 13: 114.74414309405972
MSE 14: 138.44258206561932
MSE 15: 108.60303109672077
MSE 16: 108.00160913559996
MSE 17: 106.00587105365247
MSE 18: 114.53659314399398
MSE 19: 100.6146521707183
MSE 20: 119.72669647118035
MSE 21: 96.86404241173013
MSE 22: 107.7082185961282
MSE 23: 107.80755170803626
MSE 24: 104.75659038951096
MSE 25: 108.54213117087157
MSE 26: 100.88154246506181
MSE 27: 119.41781665592131
MSE 28: 109.99602898656357
MSE 29: 115.6481424473636
MSE 30: 113.4035504041752
MSE 31: 168.8108471126618
MSE 32: 108.2136915509369
MSE 33: 104.69803607039466
MSE 34: 110.41636924373293
MSE 35: 132.30540811976954
MSE 36: 127.27174293493376
MSE 37: 119.44201776202057
MSE 38: 116.03554018878629
MSE 39: 109.83687152060105
MSE 40: 113.56201715068138
MSE 41: 120.11286299128362
MSE 42: 118.71159629451418
MSE 43: 110.64279359984167
MSE 44: 111.62346713365474
MSE 45: 116.0894459844793
MSE 46: 115.06161447173183
MSE 47: 111.90358835362308
MSE 48: 144.50966167758583
MSE 49: 109.71977500545168
MSE 50: 109.32207123592833


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 928.8211334159123
Standard Deviation: 3198.132692206048