Part C

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

C. Increate the number of epochs 
Repeat Part B but use 100 epochs this time for training.
How does the mean of the mean squared errors compare to that from Step B?

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [4]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [5]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [6]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [7]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [8]:
from keras.models import Sequential
from keras.layers import Dense

In [9]:
n_cols = predictors.shape[1] # number of predictors

In [10]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [11]:
# build the model
model = regression_model()

In [12]:
 from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(predictors,target, test_size=0.3, random_state=42)

In [14]:
model.fit(X_train, y_train, epochs=100, verbose=1)

Epoch 1/100
721/721 [==============================] - 1s 774us/step - loss: 9302.9135
Epoch 2/100
721/721 [==============================] - 0s 270us/step - loss: 1750.8918
Epoch 3/100
721/721 [==============================] - 0s 305us/step - loss: 1091.3667
Epoch 4/100
721/721 [==============================] - 0s 306us/step - loss: 784.3107
Epoch 5/100
721/721 [==============================] - 0s 331us/step - loss: 650.2758
Epoch 6/100
721/721 [==============================] - 0s 334us/step - loss: 562.6599
Epoch 7/100
721/721 [==============================] - 0s 327us/step - loss: 503.1640
Epoch 8/100
721/721 [==============================] - 0s 331us/step - loss: 456.8317
Epoch 9/100
721/721 [==============================] - 0s 386us/step - loss: 423.4161
Epoch 10/100
721/721 [==============================] - 0s 333us/step - loss: 399.4603
Epoch 11/100
721/721 [==============================] - 0s 414us/step - loss: 380.9932
Epoch 12/100
721/721 [==============================] - 0s 308us/step - loss: 366.0196
Epoch 13/100
721/721 [==============================] - 0s 382us/step - loss: 353.4352
Epoch 14/100
721/721 [==============================] - 0s 362us/step - loss: 344.6933
Epoch 15/100
721/721 [==============================] - 0s 330us/step - loss: 337.8031
Epoch 16/100
721/721 [==============================] - 0s 389us/step - loss: 326.5415
Epoch 17/100
721/721 [==============================] - 0s 363us/step - loss: 319.2758
Epoch 18/100
721/721 [==============================] - 0s 356us/step - loss: 312.6440
Epoch 19/100
721/721 [==============================] - 0s 422us/step - loss: 304.9496
Epoch 20/100
721/721 [==============================] - 0s 436us/step - loss: 298.7080
Epoch 21/100
721/721 [==============================] - 0s 336us/step - loss: 292.3168
Epoch 22/100
721/721 [==============================] - 0s 310us/step - loss: 285.3860
Epoch 23/100
721/721 [==============================] - 0s 355us/step - loss: 279.2467
Epoch 24/100
721/721 [==============================] - 0s 331us/step - loss: 273.3226
Epoch 25/100
721/721 [==============================] - 0s 331us/step - loss: 266.1083
Epoch 26/100
721/721 [==============================] - 0s 311us/step - loss: 260.6531
Epoch 27/100
721/721 [==============================] - 0s 387us/step - loss: 254.0525
Epoch 28/100
721/721 [==============================] - 0s 337us/step - loss: 246.9784
Epoch 29/100
721/721 [==============================] - 0s 437us/step - loss: 240.5972
Epoch 30/100
721/721 [==============================] - 0s 303us/step - loss: 234.2906
Epoch 31/100
721/721 [==============================] - 0s 311us/step - loss: 227.8446
Epoch 32/100
721/721 [==============================] - 0s 307us/step - loss: 221.5697
Epoch 33/100
721/721 [==============================] - 0s 331us/step - loss: 214.2096
Epoch 34/100
721/721 [==============================] - 0s 387us/step - loss: 208.6598
Epoch 35/100
721/721 [==============================] - 0s 357us/step - loss: 202.1433
Epoch 36/100
721/721 [==============================] - 0s 309us/step - loss: 195.4282
Epoch 37/100
721/721 [==============================] - 0s 330us/step - loss: 189.4383
Epoch 38/100
721/721 [==============================] - 0s 283us/step - loss: 184.4826
Epoch 39/100
721/721 [==============================] - 0s 327us/step - loss: 184.6491
Epoch 40/100
721/721 [==============================] - 0s 250us/step - loss: 178.0673
Epoch 41/100
721/721 [==============================] - 0s 382us/step - loss: 174.4516
Epoch 42/100
721/721 [==============================] - 0s 359us/step - loss: 172.1812
Epoch 43/100
721/721 [==============================] - 0s 367us/step - loss: 167.8829
Epoch 44/100
721/721 [==============================] - 0s 353us/step - loss: 165.9075
Epoch 45/100
721/721 [==============================] - 0s 300us/step - loss: 164.0425
Epoch 46/100
721/721 [==============================] - 0s 359us/step - loss: 160.9576
Epoch 47/100
721/721 [==============================] - 0s 361us/step - loss: 159.3458 0s - loss: 171.
Epoch 48/100
721/721 [==============================] - 0s 303us/step - loss: 157.1152
Epoch 49/100
721/721 [==============================] - 0s 329us/step - loss: 152.1521
Epoch 50/100
721/721 [==============================] - 0s 308us/step - loss: 147.9589
Epoch 51/100
721/721 [==============================] - 0s 382us/step - loss: 146.4302
Epoch 52/100
721/721 [==============================] - 0s 281us/step - loss: 143.1239
Epoch 53/100
721/721 [==============================] - 0s 331us/step - loss: 140.1765
Epoch 54/100
721/721 [==============================] - 0s 473us/step - loss: 139.4407
Epoch 55/100
721/721 [==============================] - 0s 335us/step - loss: 136.8556
Epoch 56/100
721/721 [==============================] - 0s 382us/step - loss: 133.7392
Epoch 57/100
721/721 [==============================] - 0s 416us/step - loss: 132.2942
Epoch 58/100
721/721 [==============================] - 0s 416us/step - loss: 130.5033
Epoch 59/100
721/721 [==============================] - 0s 394us/step - loss: 128.2871
Epoch 60/100
721/721 [==============================] - 0s 329us/step - loss: 126.9526
Epoch 61/100
721/721 [==============================] - 0s 301us/step - loss: 125.6094
Epoch 62/100
721/721 [==============================] - 0s 441us/step - loss: 126.5399
Epoch 63/100
721/721 [==============================] - 0s 331us/step - loss: 122.5368
Epoch 64/100
721/721 [==============================] - 0s 389us/step - loss: 123.3630
Epoch 65/100
721/721 [==============================] - 0s 327us/step - loss: 121.4108
Epoch 66/100
721/721 [==============================] - 0s 335us/step - loss: 120.7151
Epoch 67/100
721/721 [==============================] - 0s 329us/step - loss: 120.6909
Epoch 68/100
721/721 [==============================] - 0s 330us/step - loss: 118.8738
Epoch 69/100
721/721 [==============================] - 0s 307us/step - loss: 119.9986
Epoch 70/100
721/721 [==============================] - 0s 333us/step - loss: 118.0647
Epoch 71/100
721/721 [==============================] - 0s 355us/step - loss: 117.0625
Epoch 72/100
721/721 [==============================] - 0s 306us/step - loss: 117.6089
Epoch 73/100
721/721 [==============================] - 0s 330us/step - loss: 115.5358
Epoch 74/100
721/721 [==============================] - 0s 359us/step - loss: 114.9069
Epoch 75/100
721/721 [==============================] - 0s 308us/step - loss: 114.2661
Epoch 76/100
721/721 [==============================] - 0s 328us/step - loss: 113.2221
Epoch 77/100
721/721 [==============================] - 0s 329us/step - loss: 113.5865
Epoch 78/100
721/721 [==============================] - 0s 309us/step - loss: 112.5620
Epoch 79/100
721/721 [==============================] - 0s 301us/step - loss: 111.5446
Epoch 80/100
721/721 [==============================] - 0s 332us/step - loss: 112.4176
Epoch 81/100
721/721 [==============================] - 0s 497us/step - loss: 111.2753
Epoch 82/100
721/721 [==============================] - 0s 416us/step - loss: 110.2353
Epoch 83/100
721/721 [==============================] - 0s 333us/step - loss: 110.7782
Epoch 84/100
721/721 [==============================] - 0s 414us/step - loss: 111.7866
Epoch 85/100
721/721 [==============================] - 0s 384us/step - loss: 110.0604
Epoch 86/100
721/721 [==============================] - 0s 306us/step - loss: 108.5602
Epoch 87/100
721/721 [==============================] - 0s 413us/step - loss: 109.6499
Epoch 88/100
721/721 [==============================] - 0s 528us/step - loss: 109.9562
Epoch 89/100
721/721 [==============================] - 0s 334us/step - loss: 107.9400
Epoch 90/100
721/721 [==============================] - 0s 382us/step - loss: 111.1353
Epoch 91/100
721/721 [==============================] - 0s 305us/step - loss: 107.6498
Epoch 92/100
721/721 [==============================] - 0s 307us/step - loss: 107.9021
Epoch 93/100
721/721 [==============================] - 0s 383us/step - loss: 106.8590
Epoch 94/100
721/721 [==============================] - 0s 304us/step - loss: 106.2824
Epoch 95/100
721/721 [==============================] - 0s 303us/step - loss: 105.7515
Epoch 96/100
721/721 [==============================] - 0s 284us/step - loss: 107.1883
Epoch 97/100
721/721 [==============================] - 0s 323us/step - loss: 105.7480
Epoch 98/100
721/721 [==============================] - 0s 337us/step - loss: 105.8678
Epoch 99/100
721/721 [==============================] - 0s 417us/step - loss: 107.2091
Epoch 100/100
721/721 [==============================] - 0s 306us/step - loss: 105.5792

In [15]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 267us/step

107.06577708420244

In [16]:
from sklearn.metrics import mean_squared_error

In [17]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

107.06577930643243 0.0

In [18]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 73.55885512466183
MSE 2: 74.47825373183562
MSE 3: 54.13824178948757
MSE 4: 48.43294930072278
MSE 5: 52.489078114333665
MSE 6: 45.45439878790896
MSE 7: 56.830440410132546
MSE 8: 42.17636230616893
MSE 9: 50.54058141615784
MSE 10: 50.08360295465463
MSE 11: 43.47339212855861
MSE 12: 43.312932141004644
MSE 13: 52.283206161943454
MSE 14: 48.8183189688377
MSE 15: 46.91609109181031
MSE 16: 39.44686717431522
MSE 17: 43.662792107048155
MSE 18: 46.17649948095426
MSE 19: 40.2089624497497
MSE 20: 45.055187398175974
MSE 21: 42.48930662581064
MSE 22: 42.19881836727599
MSE 23: 40.774070468149525
MSE 24: 42.05053722048269
MSE 25: 45.448084747907025
MSE 26: 44.03871260954724
MSE 27: 43.82306811878982
MSE 28: 38.20927394015118
MSE 29: 45.51928651680067
MSE 30: 43.85654296998453
MSE 31: 44.39540839581042
MSE 32: 38.28047035735788
MSE 33: 40.47704616410832
MSE 34: 47.81098115791395
MSE 35: 39.919097011529125
MSE 36: 44.62977996381741
MSE 37: 46.53603438960696
MSE 38: 46.65212780603699
MSE 39: 40.85386294763065
MSE 40: 37.47436248754606
MSE 41: 50.81243711304896
MSE 42: 41.040605649978986
MSE 43: 39.33832396967126
MSE 44: 54.603818899605265
MSE 45: 42.10028831704149
MSE 46: 43.4594796807249
MSE 47: 43.24145794223428
MSE 48: 41.41625471639787
MSE 49: 40.304756744779816
MSE 50: 41.7456687137147


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 45.820738993021614
Standard Deviation: 7.270692278364593