Part A

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

 https://cocl.us/concrete_data

In [19]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [4]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [5]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [6]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [7]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [8]:
from keras.models import Sequential
from keras.layers import Dense

In [9]:
n_cols = predictors.shape[1] # number of predictors

In [10]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [11]:
# build the model
model = regression_model()

In [12]:
 from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(predictors,target, test_size=0.3, random_state=42)

In [14]:
model.fit(X_train, y_train, epochs=50, verbose=1)

Epoch 1/50
721/721 [==============================] - 1s 943us/step - loss: 2578.1038
Epoch 2/50
721/721 [==============================] - 0s 420us/step - loss: 1053.6722
Epoch 3/50
721/721 [==============================] - 0s 355us/step - loss: 748.3988 0s - loss: 807.24
Epoch 4/50
721/721 [==============================] - 0s 306us/step - loss: 589.9934
Epoch 5/50
721/721 [==============================] - 0s 279us/step - loss: 488.8121
Epoch 6/50
721/721 [==============================] - 0s 336us/step - loss: 416.3892
Epoch 7/50
721/721 [==============================] - 0s 301us/step - loss: 374.3084
Epoch 8/50
721/721 [==============================] - 0s 326us/step - loss: 335.5412
Epoch 9/50
721/721 [==============================] - 0s 306us/step - loss: 310.9759
Epoch 10/50
721/721 [==============================] - 0s 305us/step - loss: 294.3052
Epoch 11/50
721/721 [==============================] - 0s 356us/step - loss: 280.6666
Epoch 12/50
721/721 [==============================] - 0s 308us/step - loss: 268.3054
Epoch 13/50
721/721 [==============================] - 0s 305us/step - loss: 256.5309
Epoch 14/50
721/721 [==============================] - 0s 358us/step - loss: 247.6361
Epoch 15/50
721/721 [==============================] - 0s 309us/step - loss: 239.4556
Epoch 16/50
721/721 [==============================] - 2s 3ms/step - loss: 233.0559
Epoch 17/50
721/721 [==============================] - 0s 451us/step - loss: 224.0971
Epoch 18/50
721/721 [==============================] - 0s 329us/step - loss: 217.3344
Epoch 19/50
721/721 [==============================] - 0s 306us/step - loss: 210.6841
Epoch 20/50
721/721 [==============================] - 0s 367us/step - loss: 204.4248
Epoch 21/50
721/721 [==============================] - 0s 381us/step - loss: 199.8075
Epoch 22/50
721/721 [==============================] - 0s 414us/step - loss: 194.9350
Epoch 23/50
721/721 [==============================] - 0s 691us/step - loss: 193.3248
Epoch 24/50
721/721 [==============================] - 0s 553us/step - loss: 185.5016
Epoch 25/50
721/721 [==============================] - 0s 529us/step - loss: 178.9962
Epoch 26/50
721/721 [==============================] - 0s 333us/step - loss: 174.0797
Epoch 27/50
721/721 [==============================] - 0s 496us/step - loss: 168.8179
Epoch 28/50
721/721 [==============================] - 0s 305us/step - loss: 162.7672
Epoch 29/50
721/721 [==============================] - 0s 360us/step - loss: 159.7569
Epoch 30/50
721/721 [==============================] - 0s 359us/step - loss: 153.9385
Epoch 31/50
721/721 [==============================] - 0s 277us/step - loss: 148.7222
Epoch 32/50
721/721 [==============================] - 0s 310us/step - loss: 143.4529
Epoch 33/50
721/721 [==============================] - 0s 283us/step - loss: 138.1513
Epoch 34/50
721/721 [==============================] - 0s 354us/step - loss: 146.1020 0s - loss: 147.109
Epoch 35/50
721/721 [==============================] - 0s 307us/step - loss: 135.9530
Epoch 36/50
721/721 [==============================] - 0s 412us/step - loss: 130.3949
Epoch 37/50
721/721 [==============================] - 0s 499us/step - loss: 126.1549
Epoch 38/50
721/721 [==============================] - 0s 388us/step - loss: 121.3508
Epoch 39/50
721/721 [==============================] - 0s 312us/step - loss: 117.7599
Epoch 40/50
721/721 [==============================] - 0s 388us/step - loss: 115.4717
Epoch 41/50
721/721 [==============================] - 0s 415us/step - loss: 111.8433
Epoch 42/50
721/721 [==============================] - 0s 415us/step - loss: 108.7861
Epoch 43/50
721/721 [==============================] - 0s 357us/step - loss: 107.4603
Epoch 44/50
721/721 [==============================] - 0s 313us/step - loss: 106.0231
Epoch 45/50
721/721 [==============================] - 0s 335us/step - loss: 100.7855 0s - loss: 101.371
Epoch 46/50
721/721 [==============================] - 0s 305us/step - loss: 100.1740
Epoch 47/50
721/721 [==============================] - 0s 307us/step - loss: 97.0954
Epoch 48/50
721/721 [==============================] - 0s 331us/step - loss: 95.1895
Epoch 49/50
721/721 [==============================] - 0s 303us/step - loss: 93.0900
Epoch 50/50
721/721 [==============================] - 0s 307us/step - loss: 91.6379

In [15]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 371us/step

98.34330996417691

In [16]:
from sklearn.metrics import mean_squared_error

In [17]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

98.34331094629914 0.0

In [18]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 67.62754189698056
MSE 2: 80.40849160993756
MSE 3: 59.80431546208156
MSE 4: 68.70672319776418
MSE 5: 69.21882305947707
MSE 6: 69.92088848718933
MSE 7: 78.37481348722883
MSE 8: 57.55115294225008
MSE 9: 66.11877626585729
MSE 10: 68.46036593736568
MSE 11: 56.95038256598908
MSE 12: 64.89499391475542
MSE 13: 70.18204208176499
MSE 14: 67.64140263035846
MSE 15: 64.07536977625973
MSE 16: 52.56124615592093
MSE 17: 65.52160181582553
MSE 18: 55.17735947297229
MSE 19: 54.960820293735146
MSE 20: 65.52328806016051
MSE 21: 56.51148734972315
MSE 22: 60.423828125
MSE 23: 50.673406804649574
MSE 24: 56.38939893901541
MSE 25: 55.35031442734802
MSE 26: 51.61849412640321
MSE 27: 48.27316647131466
MSE 28: 52.13162745009734
MSE 29: 54.91484896959224
MSE 30: 53.99560312314327
MSE 31: 48.13392625580328
MSE 32: 39.75223379536354
MSE 33: 43.390572878149335
MSE 34: 45.44789249457202
MSE 35: 47.48283749182247
MSE 36: 49.58089674174978
MSE 37: 49.971551321085215
MSE 38: 49.35642104164296
MSE 39: 49.73585252237166
MSE 40: 38.650025130089816
MSE 41: 58.532881887985276
MSE 42: 42.25472618769673
MSE 43: 45.405318892889426
MSE 44: 50.9681168590163
MSE 45: 48.909678338800816
MSE 46: 52.770528836543505
MSE 47: 48.98359545612026
MSE 48: 48.419077271396674
MSE 49: 47.993204073612745
MSE 50: 47.0816650143719


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 55.935671246665294
Standard Deviation: 9.628334175115356