Part D

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

D. Increase the number of hidden layers 

Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

How does the mean of the mean squared errors compare to that from Step B?

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [4]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [5]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [6]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [7]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [8]:
from keras.models import Sequential
from keras.layers import Dense

In [9]:
n_cols = predictors.shape[1] # number of predictors

In [12]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [13]:
# build the model
model = regression_model()

In [14]:
 from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors,target, test_size=0.3, random_state=42)

In [16]:
model.fit(X_train, y_train, epochs=50, verbose=1)

Epoch 1/50
721/721 [==============================] - 1s 1ms/step - loss: 48033.9728
Epoch 2/50
721/721 [==============================] - 0s 554us/step - loss: 4728.8161
Epoch 3/50
721/721 [==============================] - 0s 441us/step - loss: 2854.1453
Epoch 4/50
721/721 [==============================] - 0s 442us/step - loss: 1973.6475
Epoch 5/50
721/721 [==============================] - 0s 527us/step - loss: 1383.8226
Epoch 6/50
721/721 [==============================] - 0s 496us/step - loss: 994.6200
Epoch 7/50
721/721 [==============================] - 0s 501us/step - loss: 752.1259
Epoch 8/50
721/721 [==============================] - 0s 471us/step - loss: 605.2516
Epoch 9/50
721/721 [==============================] - 0s 556us/step - loss: 520.2029
Epoch 10/50
721/721 [==============================] - 0s 417us/step - loss: 455.9607
Epoch 11/50
721/721 [==============================] - 0s 469us/step - loss: 402.6111
Epoch 12/50
721/721 [==============================] - 0s 449us/step - loss: 349.8274
Epoch 13/50
721/721 [==============================] - 0s 447us/step - loss: 315.9795
Epoch 14/50
721/721 [==============================] - 0s 435us/step - loss: 292.3122
Epoch 15/50
721/721 [==============================] - 0s 474us/step - loss: 277.8988
Epoch 16/50
721/721 [==============================] - 0s 472us/step - loss: 265.2140
Epoch 17/50
721/721 [==============================] - 0s 415us/step - loss: 257.5910
Epoch 18/50
721/721 [==============================] - 0s 360us/step - loss: 250.3662
Epoch 19/50
721/721 [==============================] - 0s 414us/step - loss: 244.0795
Epoch 20/50
721/721 [==============================] - 1s 753us/step - loss: 237.8588
Epoch 21/50
721/721 [==============================] - 0s 492us/step - loss: 233.0136
Epoch 22/50
721/721 [==============================] - 0s 442us/step - loss: 226.6946
Epoch 23/50
721/721 [==============================] - 0s 525us/step - loss: 221.2061
Epoch 24/50
721/721 [==============================] - 0s 474us/step - loss: 215.3932
Epoch 25/50
721/721 [==============================] - 0s 519us/step - loss: 210.4933
Epoch 26/50
721/721 [==============================] - 0s 498us/step - loss: 205.5483
Epoch 27/50
721/721 [==============================] - 0s 447us/step - loss: 200.4017
Epoch 28/50
721/721 [==============================] - 0s 438us/step - loss: 195.2297
Epoch 29/50
721/721 [==============================] - 0s 390us/step - loss: 189.8480
Epoch 30/50
721/721 [==============================] - 0s 417us/step - loss: 185.8469
Epoch 31/50
721/721 [==============================] - 0s 415us/step - loss: 183.3864
Epoch 32/50
721/721 [==============================] - 0s 449us/step - loss: 178.7097
Epoch 33/50
721/721 [==============================] - 0s 393us/step - loss: 175.3172
Epoch 34/50
721/721 [==============================] - 0s 606us/step - loss: 172.8521
Epoch 35/50
721/721 [==============================] - 0s 468us/step - loss: 170.7367
Epoch 36/50
721/721 [==============================] - 0s 528us/step - loss: 168.2736
Epoch 37/50
721/721 [==============================] - 0s 499us/step - loss: 165.3718
Epoch 38/50
721/721 [==============================] - 0s 494us/step - loss: 165.8509
Epoch 39/50
721/721 [==============================] - 0s 446us/step - loss: 162.1211
Epoch 40/50
721/721 [==============================] - 0s 554us/step - loss: 160.0131
Epoch 41/50
721/721 [==============================] - 0s 581us/step - loss: 159.6502 0s - loss: 158.129
Epoch 42/50
721/721 [==============================] - 0s 525us/step - loss: 156.6109
Epoch 43/50
721/721 [==============================] - 0s 470us/step - loss: 156.2988 0s - loss: 171.3
Epoch 44/50
721/721 [==============================] - 0s 444us/step - loss: 153.7819
Epoch 45/50
721/721 [==============================] - 0s 469us/step - loss: 155.7105
Epoch 46/50
721/721 [==============================] - 0s 418us/step - loss: 156.0279
Epoch 47/50
721/721 [==============================] - 0s 383us/step - loss: 152.3211
Epoch 48/50
721/721 [==============================] - 0s 476us/step - loss: 149.9868
Epoch 49/50
721/721 [==============================] - 0s 390us/step - loss: 148.3808
Epoch 50/50
721/721 [==============================] - 0s 441us/step - loss: 149.4260

In [17]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 315us/step

156.3867759828043

In [18]:
from sklearn.metrics import mean_squared_error

In [19]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

156.38678065252256 0.0

In [ ]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 91.3473734685904
MSE 2: 85.24959403720102
MSE 3: 69.01166338133581
MSE 4: 74.07849796381583
MSE 5: 72.69582727426078
MSE 6: 65.42463012497788
MSE 7: 68.02057111919119
MSE 8: 50.980324470495326
MSE 9: 49.87856912458599
MSE 10: 49.803246433295094
MSE 11: 47.247493879694765
MSE 12: 47.322158912238955
MSE 13: 57.02965950580091
MSE 14: 52.25315489043695
MSE 15: 45.386766933700414
MSE 16: 41.99205512136317
MSE 17: 47.861829899661366
MSE 18: 47.786643142453286
MSE 19: 42.25965330747339
MSE 20: 42.23522539354837
MSE 21: 45.78591435009608
MSE 22: 41.64383935774028
MSE 23: 41.7720420615187
MSE 24: 47.24972818121555
MSE 25: 45.48122692416787
MSE 26: 43.792957565159476
MSE 27: 47.84692447008052
MSE 28: 37.264044332658585
MSE 29: 52.89538551997212
MSE 30: 46.827077896463834
MSE 31: 47.00351860762414
MSE 32: 39.00066955961456
MSE 33: 45.83753964816096
MSE 34: 42.85783943003435
MSE 35: 52.01881556834989
MSE 36: 45.43257827511883
MSE 37: 45.05044777879437
MSE 38: 48.078094729327844
MSE 39: 41.92734497959174
MSE 40: 40.15279037821254
MSE 41: 48.26378110002931
MSE 42: 41.39665072789856
MSE 43: 39.78610044929974
MSE 44: 49.65691960899575
MSE 45: 45.325320790114915
MSE 46: 47.94826353252127
MSE 47: 44.549472339716544
MSE 48: 45.098550777990845
MSE 49: 46.019441154010856